html,
body {

    width: 100%;
    height: 100%;
    margin: 0;
    font-family: $text-font;
}

body {

    background-image: url('images/Credit-Card-and-Payments-Backgrounds.jpg');
    background-size: cover;
    background-position: center right;

    @media screen and (min-width: 1200px) {
        
        background-position: center bottom;
            
    } 
}



